# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

build/*
.vscode/
.cache/clangd/index/activity.cpp.7D79637A74C19470.idx
.cache/clangd/index/activity.h.9EA7D36C4BD7433E.idx
.cache/clangd/index/applicationitem.h.252B03011C1E2E63.idx
.cache/clangd/index/applicationmodel.cpp.E6E2A2EB46687065.idx
.cache/clangd/index/applicationmodel.h.B5DBA2A2F07F9E93.idx
.cache/clangd/index/docksettings.cpp.EFE45F6C5CEF9F3C.idx
.cache/clangd/index/docksettings.h.AFF7AB163795D9D4.idx
.cache/clangd/index/fakewindow.cpp.E6C0CDEFE57363A6.idx
.cache/clangd/index/fakewindow.h.9DDE385EF82E531F.idx
.cache/clangd/index/iconthemeimageprovider.cpp.6B176F4699CA334D.idx
.cache/clangd/index/iconthemeimageprovider.h.2D90DAD106EDE4FD.idx
.cache/clangd/index/main.cpp.7E816EE56F500525.idx
.cache/clangd/index/mainwindow.cpp.843D7857445DCF8B.idx
.cache/clangd/index/mainwindow.h.994ADB50AB40E288.idx
.cache/clangd/index/processprovider.cpp.73B20D23154DA95F.idx
.cache/clangd/index/processprovider.h.765F91EAE00F5DA7.idx
.cache/clangd/index/systemappitem.cpp.DABE72E17637263B.idx
.cache/clangd/index/systemappitem.h.2859E5AA736C6B11.idx
.cache/clangd/index/systemappmonitor.cpp.D685F820754BF09E.idx
.cache/clangd/index/systemappmonitor.h.6832205751561B9F.idx
.cache/clangd/index/trashmanager.cpp.B45576C0118BC584.idx
.cache/clangd/index/trashmanager.h.F24AB12914343E7D.idx
.cache/clangd/index/utils.cpp.5A5C9BDD79D1019C.idx
.cache/clangd/index/utils.h.DB757908444A4595.idx
.cache/clangd/index/xwindowinterface.cpp.0107C4F2932C779F.idx
.cache/clangd/index/xwindowinterface.h.FE853C369899CC52.idx
/.cache/clangd/index/abstractwindowinfo.cpp.E9663B9DA5D49171.idx
/.cache/clangd/index/abstractwindowinfo.h.8337BCC7D4228FC2.idx
/.cache/clangd/index/windowinfowrap.cpp.BAE70121DA621A89.idx
/.cache/clangd/index/windowinfowrap.h.054B7792AFC7409E.idx
/.cache/clangd/index/xwindowinterface.cpp.27D2E0188A4D78E8.idx
/.cache/clangd/index/xwindowinterface.h.2C95AFB0BDCF9930.idx
