Source: lingmo-dock
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake,
               debhelper-compat (= 13),
               extra-cmake-modules,
               libkf6windowsystem-dev,
               kwayland-dev,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-declarative-private-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools,
               lingmoui3
Standards-Version: 4.5.1
Homepage: https://lingmo.org

Package: lingmo-dock
Architecture: any
Depends: lingmoui3,
         qml6-module-qtquick-controls,
         qml6-module-qtquick,
         qml6-module-qtquick-layouts,
         qml6-module-qt-labs-platform,
         qml6-module-qt-labs-settings,
         qml6-module-qtqml,
         qml6-module-qtquick-window,
         qml6-module-qtquick-shapes,
         qml6-module-qt5compat-graphicaleffects,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Dock
